body {
  padding: 50px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
}

a {
  color: #00b7ff;
}

.message-container {
  border: 3px solid black;
  margin: 1rem;
  padding: 0.5rem;
}
