@font-face {
  font-family: tt-chocolates;
  src: url(./resources/tt-chocolates.otf);
}

:root {
  --accent-color: rgb(159 175 186);
}

body {
  height: 100vh;
  display: flex;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  font-size: 0.7rem;
}

input {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  border-color: #e5e7eb;
  border-radius: 0.3rem;
  border-width: thin;
  border-style: solid;
  padding: 0.5rem;
}

input:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
  border-color: blue;
}

input[type="password"]:invalid {
  border-color: red;
}

.passwords-missmatch {
  color: red;
  font-size: 0.7rem;
  margin: 0;
  margin-top: 0.2rem;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

h1 {
  font-size: 1.5rem;
  padding-top: 1rem;
}

form {
  flex: 2;
}

.image-panel {
  --logo-scale: calc(50vmin / 7);

  width: 40vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./resources/background.jpeg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo-box {
  margin-top: 30vh;
  width: 100%;
  margin-bottom: auto;
  justify-content: center;
  gap: 1rem;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo {
  display: inline-block;
  width: auto;
  height: var(--logo-scale);
  object-fit: cover;
  opacity: 1;
}

.logo-text {
  display: inline-block;
  font-family: tt-chocolates;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  font-size: calc(var(--logo-scale) / 2);
}

.image-credit {
  font-size: 0.75rem;
  text-align: center;
}

.form-panel {
  --left-padding: 2rem;

  display: flex;
  flex-direction: column;
  width: 60vw;
  background-color: rgb(249 250 251);
  justify-content: center;
}

.top-text {
  font-size: 1.5rem;
  padding-left: var(--left-padding);
  align-self: flex-end;
  padding-right: 1rem;
}

.top-text-container {
  display: flex;
  flex: 1;
}

.input-row {
  display: flex;
  padding-bottom: 1rem;
}
.input-container {
  flex: 1;
}

.input-container {
  padding-right: calc(var(--left-padding) * 2);
}

.mid-form {
  padding-left: var(--left-padding);
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: auto;
  margin-bottom: auto;
  flex: 1;
}

.bottom-section {
  margin-top: 2rem;
  padding-left: var(--left-padding);
}

.create-account-button {
  background-color: var(--accent-color);
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem 1.75rem;
  border-radius: 0.5rem;
  border: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-text {
  margin-top: 2rem;
}

.login-link {
  color: var(--accent-color);
}
