<div id="footer-content">
  <h1 class="font-title section-title">Contact me</h1>
  <p id="footer-subheading">
    Please get in touch if you think our work could be mutually beneficial!
  </p>
  <address>
    <p id="footer-address">
      1234 Random Road <br />
      Random Town, California 12345
    </p>
    <p>
      <img
        src="../../resources/icons/phone-outline.svg"
        alt=""
        class="footer-address-icons"
      />
      555-555-5555
    </p>
    <p>
      <img
        src="../../resources/icons/email-outline.svg"
        alt=""
        class="footer-address-icons"
      />
      ashleywilliams.is.not.real@gmail.com
    </p>
  </address>

  <div id="footer-icons-container">
    <img
      class="footer-icon"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
    />
    <img
      class="footer-icon"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-plain.svg"
    />
    <a href="https://twitter.com">
      <img
        class="footer-icon"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/twitter/twitter-original.svg"
        alt="Twitter"
    /></a>
  </div>
</div>
<picture>
  <source
    media="(max-width: 2879px)"
    srcset="../../resources/images/footer-image-close.jpeg"
  />
  <source
    media="(min-width: 2880px)"
    srcset="../../resources/images/footer-image.jpeg"
  />
  <img
    id="footer-image"
    src="../../resources/images/footer-image.jpeg"
    alt="Jack standing by window"
  />
</picture>
