footer {
  color: white;
}

address {
  font-style: normal;
}

#footer-content > address > p {
  margin: 0;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

#footer-content {
  padding: 0 var(--padding-small);
}

#footer-subheading {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
}

#footer-address {
  padding-bottom: 0.8rem;
}

#footer-icons-container {
  justify-content: center;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 5rem;
  gap: 2rem;
}

.footer-icon {
  width: 3rem;
}

#footer-image {
  object-fit: cover;
  width: 100%;
  margin-bottom: -1rem;
}

.footer-address-icons {
  filter: invert(100%);
  display: none;
  width: 1.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 751px) {
  footer {
    display: grid;
    grid-template: auto / 4fr 1fr;
  }

  #footer-image {
    padding: var(--padding-med);
    width: 20rem;
  }

  #footer-icons-container {
    justify-content: left;
  }

  #footer-content {
    padding: 4rem var(--padding-med) 0 var(--padding-med);
  }

  .footer-address-icons {
    display: inline;
  }
}

@media (min-width: 2880px) {
  footer {
    display: grid;
    grid-template: auto / 1fr 2fr;
    font-size: 2rem;
  }

  #footer-subheading {
    font-size: 2rem;
  }

  #footer-image {
    padding: var(--padding-lg);
    width: 66%;
    padding-left: auto;
    float: right;
  }

  .footer-icon {
    width: 6rem;
  }
  .footer-address-icons {
    width: 3rem;
    padding-right: 1rem;
  }
}
