body {
  font-family: "HelveticaNeue-Thin", Arial, sans-serif;
}
h1,
p {
  margin: 0;
}
#weather-page {
  padding: 1rem;
  height: 100%;
  color: white;
}

#location-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#location {
  font-weight: 400;
}

#temperature {
  font-size: 3rem;
}

#description {
  font-size: 1.5rem;
}

#squares-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  justify-content: center;
  gap: 1rem;
}

.square {
  flex-shrink: 0;
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  background-color: rgb(50, 125, 199);
  border-radius: 0.5rem;
  padding: 1rem;
}

.squareTitle {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.75rem;
  padding-bottom: 0.5rem;
  color: rgb(111, 190, 255);
}

.material-symbols-outlined {
  font-size: 1rem !important;
}

.square-main-text {
  font-size: 2rem;
}

.wind-data-details {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-top: 0.25rem;
}

.wind-data:nth-child(2) {
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.25rem;
}

.wind-units {
  color: rgb(111, 190, 255);
}

.wind-units,
.wind-type {
  font-size: 0.75rem;
}

#direction {
  padding-top: 0.5rem;
  font-size: 1.5rem;
}
