header {
  position: relative;
}

header > h1 {
  margin: 0;
}

header > p {
  margin: 1rem;
  font-size: 1.5rem;
}

#score-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

#score-container > p {
  display: flex;
  margin-left: auto;
}
