@font-face {
  font-family: RobotoMono;
  src: url(./resources/RobotoMono-Regular.ttf);
}
@font-face {
  font-family: RobotoMono;
  src: url(./resources/RobotoMono-Bold.ttf);
  font-weight: bold;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  font-family: RobotoMono;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 1rem;
  gap: 2rem;
}

nav > button {
  background-color: black;
  flex: 1;
  border: 0;
  background-color: white;
  font-family: RobotoMono;
  font-size: 1.5rem;
  cursor: pointer;
}

h1,
h3,
p {
  margin: 0;
}

h1 {
  padding-bottom: 1rem;
}

#content {
  flex: 1;
}

#home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 0.5rem solid black;
}

#home-title {
  font-size: 5rem;
}

#home-subtitle {
  font-size: 2rem;
}

.menu-item {
  padding-bottom: 1rem;
}

.menu-name {
  padding-bottom: 0.25rem;
}

.content-container {
  height: 100%;
  box-sizing: border-box;
  border: 0.5rem solid black;
  padding: 1rem;
  margin-bottom: 1rem;
}

.location-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  border: 0.5rem solid black;
  white-space: pre-line;
}

.location-address,
.location-contact {
  padding-bottom: 0.5rem;
}

.location-photo {
  width: 100%;
  filter: grayscale(100%);
}

.location-city {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-container {
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: 0.5rem solid black;
  white-space: pre-line;
}

.about-text {
  animation: fadeIn 5s;
  align-self: flex-start;
  padding-right: 1rem;
}

.about-text-container {
  display: inline-flex;
  flex-wrap: wrap;
}
