<div id="header-background" class="background-main"></div>
<div id="header-container">
  <picture>
    <source
      media="(max-width: 750px)"
      srcset="../../resources/images/header-image-close.jpeg"
    />
    <source
      media="(min-width: 751x)"
      srcset="../../resources/images/header-image.jpeg"
    />
    <img
      id="header-image"
      src="../../resources/images/header-image.jpeg"
      alt="Jack"
    />
  </picture>
  <h1 id="header-name" class="font-title">
    Jack <br />
    Mclaughlin
  </h1>
  <h1 class="section-title font-title">About me</h1>
  <p id="header-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.
  </p>
  <div id="header-icons-container">
    <img
      class="header-icon"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
    />
    <img
      class="header-icon"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-plain.svg"
    />
    <a href="https://twitter.com">
      <img
        class="header-icon"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/twitter/twitter-original.svg"
        alt="Twitter"
    /></a>
  </div>
</div>
