.card-image {
  width: 90%; /* Ensure the image takes up full width of inner frame */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the image */
}

.card-frame {
  width: 100%; /* Adjust width of the frame */
  aspect-ratio: 1 / 1;
  background-color: white; /* Brown color for the frame */
  border: 20px solid black; /* Lighter brown border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Drop shadow for depth */
  position: relative;
  overflow: hidden; /* Ensure the inner content doesn't overflow */
  box-sizing: border-box;
}
