.card-image {
  width: 90%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-frame {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: white;
  border: 20px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
