main {
  padding: 1rem var(--padding-small) 8rem var(--padding-small);
}

#main-projects {
  display: grid;
  gap: 3rem;
  padding-top: 1rem;
}

@media (min-width: 751px) {
  main {
    padding: 2rem var(--padding-med) 8rem var(--padding-med);
  }

  #main-projects {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

@media (min-width: 2880px) {
  main {
    padding: 4rem var(--padding-lg) 16rem var(--padding-lg);
  }

  #main-projects {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8rem;
  }
}
