#project-panel-container p {
  margin: 0;
}

#project-panel-container {
  background-color: rgb(43 47 48);
  border-right: 2px solid black;
  min-width: 10rem;
  height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-panel-all {
  background-color: rgb(78 79 83);
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1.05rem;
}

#project-panel-heading {
  color: var(--grey-accent-color);
}

#project-panel-list {
  flex: 1;
}

.project-panel-add {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: var(--grey-accent-color);
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.project-selected {
  background-color: red;
}
