#taskview-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 1rem;
}

#taskview-add {
  background: none;
  outline: none;
  border: none;
  align-self: flex-end;
  justify-self: flex-end;
  cursor: pointer;
  padding-left: 1rem;
  padding-bottom: 1rem;
  color: rgb(150 152 152);
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: -1rem;
}

#taskview-title {
  color: rgb(10 132 255);
  margin-top: 0;
}
