#root {
  max-width: 1280px;
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
}

#title {
  text-align: center;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.justify-right {
  display: flex;
  justify-content: end;
}

.gap {
  gap: 1rem;
}

@media (max-width: 768px) {
  .two-col {
    grid-template-columns: 1fr;
  }
}
