.grid-container {
  background-color: red;
}

.grid {
  height: auto;
  aspect-ratio: 1/1;
  max-height: 85vh;
  max-width: 85vh;
}

.grid-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 auto;
}

.grid-tile {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  flex: 1 1 auto;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
