<div class="project-image-container font-title">screenshot of project</div>
<div class="project-text-container">
  <div class="project-header-row">
    <h1 class="project-title font-title">Project Name</h1>
    <a href="https://github.com" class="project-icon">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
        alt="GitHub"
    /></a>
    <a href="https://google.com" class="project-icon">
      <img src="../../resources/icons/open-in-new.svg" alt="project link"
    /></a>
  </div>
  <p>Short description of the project. Just a couple sentences will do.</p>
</div>
