.project-container {
  aspect-ratio: 3/ 4;
  margin: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project-image-container {
  background-color: #7c75ca;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  text-align: center;
}

.project-text-container {
  padding: 1rem;
}
.project-header-row {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.project-title {
  margin: 0;
  font-weight: normal;
}

.project-icon {
  width: 1.5rem;
  align-content: center;
}
