body {
  background-color: #03aed2;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

#title {
  font-size: 3rem;
  margin: 0;
}

#start-button {
  max-width: 10rem;
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: 0;
  border: 0;
}

.column-title {
  margin: 0;
  text-align: center;
}

#game-container {
  display: grid;
  grid-template: 1fr auto auto / 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

.gameboard {
  background-color: lightcyan;
  aspect-ratio: 1;
}

.ships {
  text-align: center;
}

.grid-container {
  background-color: red;
}

.grid {
  height: auto;
  aspect-ratio: 1/1;
  max-height: 85vh;
  max-width: 85vh;
}

.grid-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 auto;
}

.grid-tile {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  flex: 1 1 auto;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
