body {
  font-family: roboto;
  margin: 0;
}

.page-grid {
  display: grid;
  grid-template: auto 1fr / 225px 1fr;
  grid-template-areas: "navigation top" "navigation main";
  height: 100vh;
}

.navigation-panel {
  padding-left: 1rem;
  padding-top: 1rem;
  grid-area: navigation;
  background-color: rgb(25 146 212);
  color: white;
}

.navigation-item {
  display: flex;
  cursor: pointer;
}

.icon {
  filter: invert(100%);
  display: inline;
  width: 1.5rem;
  padding-right: 1rem;
}

.icon-label {
  display: inline;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0.6rem 0;
}

.navigation-item:first-child {
  padding-bottom: 2rem;
}

.navigation-item:nth-child(7) {
  padding-bottom: 2rem;
}

#heading-icon {
  width: 2.5rem;
}

#heading-label {
  font-size: 1.5rem;
}

.top-panel {
  grid-area: top;
  padding-right: 3rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-row {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr repeat(3, auto);
}

.search-bar {
  border: 0;
  outline: 0;
  background-color: rgb(226 232 240);
  border-radius: 1rem;
  height: 2rem;
  padding: 0 1rem;
  margin-right: 4rem;
}

.profile-picture {
  width: 3rem;
  height: auto;
  border-radius: 50%;
}

.search-row > .icon {
  filter: none;
}

.username-top {
  font-size: 1rem;
  font-weight: 500;
  padding-left: 1rem;
}

.button-row {
  display: grid;
  grid-template-columns: auto 1fr repeat(3, auto);
  padding: 1rem 0 0.5rem 0;
  align-items: center;
  gap: 1rem;
}

.button-row > .profile-picture {
  width: 4rem;
}

.left-header {
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 0;
  margin: 0 0 -0.5rem 0;
  grid-area: header;
}

.project-info {
  margin: 0;
  color: rgb(144 144 144);
  padding-bottom: 1rem;
  flex: 1;
}

.project-info::first-line {
  color: black;
}

.hi-user {
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hi-user::first-line {
  font-size: 1rem;
}

.top-button {
  background-color: rgb(25 146 212);
  color: white;
  border: 0;
  padding: 0.7rem 0rem;
  width: 6rem;
  border-radius: 2rem;
}

.main-panel {
  grid-area: main;
  background-color: rgb(226 232 240);
  display: grid;
  grid-template-columns: 8fr minmax(300px, 2fr);
  gap: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.main-left {
  padding-left: 1rem;
  display: grid;
  grid-template: auto repeat(3, 1fr) / 1fr 1fr;
  grid-template-areas: "header header";
  gap: 1rem;
}

.main-content-box {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-left: solid 0.75rem rgb(240, 179, 25);
  display: flex;
  flex-direction: column;
}

.project-buttons {
  justify-content: end;
  display: flex;
}

.project-buttons > .icon {
  filter: none;
}

.main-right {
  display: grid;
  grid-template: auto auto / 1fr;
  gap: 2rem;
  padding-right: 1.5rem;
}

.announcement:not(:last-child) {
  border-bottom: solid 2px rgb(216, 216, 216);
}

.announcement {
  margin: 0;
  color: rgb(144 144 144);
}

.announcement::first-line {
  color: black;
}

.section-header {
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 0;
  margin: 0 0 0.5rem 0;
}

.right-content-box {
  background-color: white;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: grid;
  gap: 1rem;
}

.right-section {
  display: grid;
  grid-template: auto 1fr / 1fr;
}

.trending-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.75rem;
  padding: 0.25rem 0;
}

.trending-user-info {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  color: rgb(144 144 144);
}

.trending-user-info > b {
  color: black;
}
